BIODOCKX_APP_NAME=BioDockX
BIODOCKX_ENV=development
BIODOCKX_CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://localhost:5174,http://127.0.0.1:5174
BIODOCKX_DATABASE_PATH=./data/biodockx.db
BIODOCKX_DATA_DIR=./data
BIODOCKX_JOBS_DIR=./jobs
BIODOCKX_RCSB_DATA_API_URL=https://data.rcsb.org/rest/v1/core
BIODOCKX_RCSB_SEARCH_API_URL=https://search.rcsb.org/rcsbsearch/v2/query
BIODOCKX_PDB_DOWNLOAD_BASE_URL=https://files.rcsb.org/download
BIODOCKX_PUBCHEM_PUG_REST_URL=https://pubchem.ncbi.nlm.nih.gov/rest/pug
BIODOCKX_OBABEL_BINARY=obabel
BIODOCKX_VINA_BINARY=vina
BIODOCKX_COMMAND_TIMEOUT_SECONDS=900
BIODOCKX_HTTP_TIMEOUT_SECONDS=30
BIODOCKX_ENABLE_GEMINI_AGENT=true
BIODOCKX_GEMINI_MODEL=gemini-2.5-flash
GEMINI_API_KEY=
